DJANGO_SECRET_KEY=<insert a secure random string here>
DJANGO_DEBUG=false
PUBLIC_HOSTNAME=turtl.example.test

VM_MANAGER_LOG_LEVEL=DEBUG

POSTGRES_DB=turtl_db
POSTGRES_USER=turtl_user
POSTGRES_PASSWORD=turtl_password

REDIS_PASSWORD=<insert redis password here>

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=<insert grafana admin password here>
GRAFANA_DB_USER=grafana_reader
GRAFANA_DB_PASSWORD=<insert grafana reader password here>

PROXMOX_HOST=<insert Proxmox IP and port here>
PROXMOX_USER=turtl@pve
PROXMOX_TOKEN_NAME=turtl-api
PROXMOX_TOKEN_VALUE=<Insert secret token value here>
PROXMOX_VM_POOL=turtl-lab
PROXMOX_VM_STORAGE=local-zfs-turtl
PROXMOX_VLAN_BRIDGE=vmbr100
PROXMOX_VERIFY_SSL=false

USER_THROTTLE_RATE=200/minute
ANON_THROTTLE_RATE=100/minute
VM_ACTIONS_THROTTLE_RATE=4/minute
LOGIN_IP_THROTTLE_RATE=100/minute
LOGIN_USER_THROTTLE_RATE=10/minute
THROTTLE_USER_ACTIVE_LAB_ENV=1
VM_MANAGER_STOP_AFTER_MINUTES=30
VM_MANAGER_CLEANUP_AFTER_MINUTES=480

NUMBER_OF_PROXIES=0
