asgiref>=3.9.1
Django>=5.2.15,<5.3
djangorestframework>=3.15.2,<3.16
djangorestframework-simplejwt>=5.5.1
channels>=4.2.2
channels-redis>=4.2
daphne>=4.2.2
django-cors-headers>=4.5
django-extensions>=3.2
drf-writable-nested>=0.7
dockerfile-parse>=2.0
proxmoxer>=2.2
psycopg2-binary>=2.9
python-dotenv>=1.2.2
rules>=3.4
websockets>=13
requests>=2.33.1