{% load static %}
<!-- shell/templates/shell/room.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>shell Room</title>
</head>
<body>
    <div id="shell-log" style="width: 100%; height: 300px; overflow-y: scroll;"></div>    <input id="shell-message-input" type="text" size="100"><br>
    <input id="shell-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script type="module">
        import { AnsiUp } from '{% static 'shell/js/ansi-up.js' %}'
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const isLocalHost = window.location.host.includes('127.0.0.1') || window.location.host.includes('localhost');
        const shellSocket = new WebSocket(
            (isLocalHost ? 'ws://' : 'wss://')
            + window.location.host
            + '/ws/shell/'
            + roomName
            + '/'
        );

        shellSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            const ansi_up = new AnsiUp();
            const html = ansi_up.ansi_to_html(data.message);
            document.querySelector('#shell-log').innerHTML += html + '<br>';
        };

        shellSocket.onclose = function(e) {
            console.error('shell socket closed unexpectedly');
        };

        document.querySelector('#shell-message-input').focus();
        document.querySelector('#shell-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#shell-message-submit').click();
            }
        };

        document.querySelector('#shell-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#shell-message-input');
            const message = messageInputDom.value;
            shellSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>